{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: corolla
 * Generated on: Wed, 15 Nov 17 08:00:00 +1300
 */
#}
{{ attach_library('corolla/corolla.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
